.inicioContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  color: #ffffff; 
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
}

.contentBox {
  background-color: #aec4d6; 
  flex: 1;
  border-radius: 4px;
}