body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #7e9ab2 ; 
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}